#dim-layer {display: none; position: fixed; left: 0; top: 0; height: 100%; width: 100%; background: black; filter: alpha(opacity=60); opacity: 0.60; z-index: 4;
}

@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spinner {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 50px;
  width: 50px;
  border: 10px solid  #ffffff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}
.spinner {
  position: fixed;
  z-index:95;
  top: 47%;
  left: 48%;
  opacity:.6;
  margin: -15px 0 -15px;
}


@media screen and (min-device-width: 375px) and (max-device-width: 667px) {
	.spinner {
		position: fixed;
		z-index:95;
		top: 47%;
		left: 41%;
		opacity:.6;
		margin: -15px 0 -15px;
	}
}

@media screen and (max-width: 320px) {
	.spinner {
		position: fixed;
		z-index:95;
		top: 47%;
		left: 41%;
		opacity:.6;
		margin: -15px 0 -15px;
	}
}