@layer Layout { 
   .img-details { 
        position: relative;
        width: 100%; 
        height: 500px; 
        overflow: hidden;
        background: #f1f1f1;
        &.active { 
            height: auto;
            overflow: visible;
        }
        .btn-wrap { 
            width: 100%;
            background: var(--white);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 100;
            padding: 40px 20px 0 20px;
            &.active { 
                bottom: -59px;
            }
            button { 
                background: var(--white);
                img { 
                    &.active { 
                        transform: rotate(-180deg);
                    }
                }
            }
        }
   }
    
   .img-upload-wrap { 
       .img-upload { 
            display: flex;
            gap: 12px;
            overflow-x: auto;
            li { 
                .img-wrap { 
                    position: relative;
                    width: 110px;
                    height: 110px;
                    background: var(--grayf3);
                    img { 
                        display: block;
                        width: 100%;
                        aspect-ratio: 1 / 1;
                        object-fit: cover;
                    }
                    .btn-close { 
                        position: absolute;
                        right: 6px;
                        top: 6px;
                        z-index: 100;
                        width: 16px;
                        height: 16px;
                        background: rgba(255,255,255, .7);
                        border-radius: 4px;
                    }
                }
                p { 
                    color: var(--black12);
                    font-family: "Noto Sans";
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                }
            }
        }
   }
    .tab-content { 
        display: none;
    }
    #entire {
        display: block;
    }
}