.content-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  /* border: 1px solid black; */
}

.content-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  /* border: 1px solid black; */
}

.content-header {
  font-size: 14px;
  background-color: rgb(231, 231, 231);
  font-weight: bold;
  border-top: 1px solid rgb(70, 70, 70);
  border-bottom: 1px solid rgb(70, 70, 70);
  padding: 5px 20px;
}

.content-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px;
}

.content-body .row .columns {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  align-items: center;
}

.contactNoWrapper .form-select {
  flex: 1;
  margin-top: 8px;
  font-size: 13px;
  padding: 8px;
  max-width: 200px;
}

#contactNo {
  flex: 2;
  margin-top: 8px;
  width: 100%;
}

.submit-button-wrapper {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.password {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-header {
  border: 0;
}

.modal-body {
  padding: 0;
  width: 100%;
}

/* Modal Footer Styling */
.modal-footer {
  display: flex;
  height: 6.5vh;
  padding: 0px 10px;
  border-top: 1px solid #ddd;
  background-color: #f1f1f1;
  border-radius: 0 0 10px 10px; /* Optional: to match rounded corners */
}



.btn-wrapper {
  display: flex;
  gap: 10px;
  justify-content: right;
  width: 100%;
  padding: 10px 10px 15px 10px;
  /* border: 1px solid black; */
}



/* .modal-footer .btn {
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-footer .btn-primary {
  background-color: #007bff;
  color: white;
}

.modal-footer .btn-secondary {
  background-color: #6c757d;
  color: white;
} */




/* Optional: Modal general styling */
.modal-content {
  border-radius: 10px;
  background-color: white;
}

.modal-header {
  background-color: #f7f7f7;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

