@layer Space {
    .pl0 {
      padding-left: 0 !important; 
    }
    .pl10 {
      padding-left: 1rem; 
    }
    .pl12 {
      padding-left: 1.2rem; 
    }
    .pl16 {
      padding-left: 1.6rem; 
    }
    .pl18 {
      padding-left: 1.8rem; 
    }
    .pl20 {
      padding-left: 2rem; 
    }
    .pl44 {
      padding-left: 4.4rem; 
    }
    .pl60 {
      padding-left: 6rem; 
    }
    .pr24 {
      padding-right: 2.4rem; 
    }
    .pt8 {
      padding-top: .8rem; 
    }
    .pt10 {
      padding-top: 1rem; 
    }
    .pt12 {
      padding-top: 1.2rem; 
    }
    .pt14 {
      padding-top: 1.4rem; 
    }
    .pt16 {
      padding-top: 1.6rem; 
    }
    .pt20 {
      padding-top: 2rem; 
    }
    .pt24 {
      padding-top: 2.4rem;
    }
    .pt30 {
      padding-top: 3rem;
    }
    .pt35 {
      padding-top: 3.5rem;
    }
    .pt40 {
      padding-top: 4rem;
    }
    .pt42 {
      padding-top: 4.2rem;
    }
    .pt50 {
      padding-top: 5rem;
    }
    .pt52 {
      padding-top: 5.2rem;
    }
    .pt80 {
      padding-top: 8rem;
    }
    .pt60 {
      padding-top: 6rem;
    }
    .pt90 {
      padding-top: 9rem;
    }
    .pt100 {
      padding-top: 10rem;
    }
    .pt120 {
      padding-top: 12rem;
    }
    .pt130 {
      padding-top: 13rem;
    }
    .pt140 {
      padding-top: 14rem;
    }
    .pt160 {
      padding-top: 16rem;
    }
    .pb10 {
      padding-bottom: 1rem;
    }
    .pb12 {
      padding-bottom: 1.2rem;
    }
    .pb14 {
      padding-bottom: 1.4rem;
    }
    .pb16 {
      padding-bottom: 1.6rem;
    }
    .pb17 {
      padding-bottom: 1.7rem;
    }
    .pb18 {
      padding-bottom: 1.8rem;
    }
    .pb20 {
      padding-bottom: 2rem;
    }
    .pb22 {
      padding-bottom: 2.2rem;
    }
    .pb24 {
      padding-bottom: 2.4rem;
    }
    .pb30 {
      padding-bottom: 3rem;
    }
    .pb36 {
      padding-bottom: 3.6rem;
    }
    .pb40 {
      padding-bottom: 4rem;
    }
    .pb42 {
      padding-bottom: 4.2rem;
    }
    .pb43 {
      padding-bottom: 4.3rem;
    }
    .pb45 {
      padding-bottom: 4.5rem;
    }
    .pb46 {
      padding-bottom: 4.6rem;
    }
    .pb50 {
      padding-bottom: 5rem;
    }
    .pb60 {
      padding-bottom: 6rem;
    }
    .pb62 {
      padding-bottom: 6.2rem;
    }
    .pb68 {
      padding-bottom: 6.8rem;
    }
    .pb70 {
      padding-bottom: 7rem;
    }
    .pb80 {
      padding-bottom: 8rem;
    }
    .pb88 {
      padding-bottom: 8.8rem;
    }
    .pb100 {
      padding-bottom: 10rem;
    }
    .pb120 {
      padding-bottom: 12rem;
    }
    .pb130 {
      padding-bottom: 13rem;
    }
  
  
    .px5 { 
      padding-left: .5rem;
      padding-right: .5rem;
    }
    .px10 { 
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .px12 { 
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
    .px16 { 
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }
    .px20 { 
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .px24 { 
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
    .px30 { 
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .px60 { 
      padding-left: 6rem;
      padding-right: 6rem;
    }

    .py5 { 
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
    .py10 { 
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .py12 { 
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
    }
    .py14 { 
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
    }
    .py16 { 
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
    }
    .py20 { 
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .py24 { 
      padding-top: 2.4rem;
      padding-bottom: 2.4rem;
    }
    .py30 { 
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    .py40 { 
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    .py60 { 
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  
    .ml0 { 
      margin-left: 0 !important;
    }
    .ml3 { 
      margin-left: .3rem;
    }
    .ml4 { 
      margin-left: .4rem;
    }
    .ml5 { 
      margin-left: .5rem;
    }
    .ml8 { 
      margin-left: .8rem;
    }
    .ml10 { 
      margin-left: 1rem;
    }
    .ml12 { 
      margin-left: 1.2rem;
    }
    .ml14 { 
      margin-left: 1.4rem;
    }
    .ml16 { 
      margin-left: 1.6rem;
    }
    .ml20 { 
      margin-left: 2rem;
    }
    .ml24 { 
      margin-left: 2.4rem;
    }
    .ml50 { 
      margin-left: 5rem;
    }
    .mr8 { 
      margin-right: .8rem;
    }
    .mr12 { 
      margin-right: 1.2rem;
    }
    .mr14 { 
      margin-right: 1.4rem;
    }
    .mr20 { 
      margin-right: 2rem;
    }
    .mr28 { 
      margin-right: 2.8rem;
    }
    .mt4 { 
      margin-top: .4rem;
    }
    .mt6 { 
      margin-top: .6rem;
    }
    .mt8 { 
      margin-top: .8rem;
    }
    .mt10 { 
      margin-top: 1rem;
    }
    .mt12 { 
      margin-top: 1.2rem;
    }
    .mt13 { 
      margin-top: 1.3rem;
    }
    .mt14 { 
      margin-top: 1.4rem;
    }
    .mt16 { 
      margin-top: 1.6rem;
    }
    .mt18 { 
      margin-top: 1.8rem;
    }
    .mt20 { 
      margin-top: 2rem;
    }
    .mt22 { 
      margin-top: 2.2rem;
    }
    .mt24 { 
      margin-top: 2.4rem;
    }
    .mt25 { 
      margin-top: 2.5rem;
    }
    .mt27 { 
      margin-top: 2.7rem;
    }
    .mt28 { 
      margin-top: 2.8rem;
    }
    .mt30 { 
      margin-top: 3rem;
    }
    .mt32 { 
      margin-top: 3.2rem;
    }
    .mt35 { 
      margin-top: 3.5rem;
    }
    .mt36 { 
      margin-top: 3.6rem;
    }
    .mt38 { 
      margin-top: 3.8rem;
    }
    .mt40 { 
      margin-top: 4rem;
    }
    .mt44 { 
      margin-top: 4.4rem;
    }
    .mt46 { 
      margin-top: 4.6rem;
    }
    .mt48 { 
      margin-top: 4.8rem;
    }
    .mt50 { 
      margin-top: 5rem;
    }
    .mt52 { 
      margin-top: 5.2rem;
    }
    .mt60 { 
      margin-top: 6rem;
    }
    .mt62 { 
      margin-top: 6.2rem;
    }
    .mt64 { 
      margin-top: 6.2rem;
    }
    .mt70 { 
      margin-top: 7rem;
    }
    .mt80 { 
      margin-top: 8rem;
    }
    .mt88 { 
      margin-top: 8.8rem;
    }
    .mt90 { 
      margin-top: 9rem;
    }
    .mt98 { 
      margin-top: 9.8rem;
    }
    .mt100 { 
      margin-top: 10rem;
    }
    .mt120 { 
      margin-top: 12rem;
    }
    .mt150 { 
      margin-top: 15rem;
    }
    .mt200 { 
      margin-top: 20rem;
    }
    .mb6 { 
      margin-bottom: .6rem;
    }
    .mb8 { 
      margin-bottom: .8rem;
    }
    .mb12 { 
      margin-bottom: 1.2rem;
    }
    .mb16 { 
      margin-bottom: 1.6rem;
    }
    .mb20 { 
      margin-bottom: 2rem;
    }
    .mb24 { 
      margin-bottom: 2.4rem;
    }
    .mb25 { 
      margin-bottom: 2.5rem;
    }
    .mb30 { 
      margin-bottom: 3rem;
    }
    .mb40 { 
      margin-bottom: 4rem;
    }
    .mb43 { 
      margin-bottom: 4.3rem;
    }
    .mb45 { 
      margin-bottom: 4.5rem;
    }
    .mb50 { 
      margin-bottom: 5rem;
    }
    .mb60 { 
      margin-bottom: 6rem;
    }
    .mb72 { 
      margin-bottom: 7.2rem;
    }
    .mb85 { 
      margin-bottom: 8.5rem;
    }
    .mb88 { 
      margin-bottom: 8.8rem;
    }
    .mb90 { 
      margin-bottom: 9rem;
    }
    .mb100 { 
      margin-bottom: 10rem;
    }
    .mb120 { 
      margin-bottom: 12rem;
    }
    .mb200 { 
      margin-bottom: 20rem;
    }

    .fixed-bottom { 
      position: fixed;
      left: 0;
      bottom: 0;
      padding-bottom: 20px;
      width: 100%;
      background: var(--white);
      // box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    }

  
  
  }
  