@layer Button { 
    .btn { 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        &.lg { 
            width: 100%;
            height: 46px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
        }
        &.sm { 
            width: auto;
            height: 38px;
            border-radius: 6px;
            font-size: 14px;
            font-weight: 400;
            padding: 8px 12px;
            &.mxw120 { 
                mxw: 120px;
            }
        }
        &.primary { 
            background: var(--primary); 
            color: #fff;
            &:active { 
                opacity: .5;
            }
            &.inactive { 
                background: var(--grayd4);
                color: var(--white);
            }
        }
        &.secondary { 
            background: var(--secondary); 
            color: var(--reded);
            &:active { 
                opacity: .5;
            }
            &.inactive { 
                background: var(--grayea);
                color: var(--grayb0);
            }
        }
        &.line { 
            border: 1px solid #969696; 
            color: #121212;
            &:active { 
                opacity: .5;
            }
            &.active { 
                border: 1px solid var(--reded);
                color: var(--reded);
            }
            &.primary { 
                background: var(--white);
                border: 1px solid var(--reded);
                color: var(--reded);
            }
            &.inactive { 
                border: 1px solid var(--grayd4);
                color: var(--grayb0);
            }
            &.gray4e { 
                color: var(--gray4e);
            }
        }
        &.ico1 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            &::before { 
                display: block;
                content: "";
                width: 20px;
                height: 20px;
                background: url(../images/ico_down_white.svg) no-repeat; 

            }
        }
        &.ico2 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            &::before { 
                display: block;
                content: "";
                width: 20px;
                height: 20px;
                background: url(../images/ico_down_red.svg) no-repeat; 

            }
        }
        &.ico3 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            &::before { 
                display: block;
                content: "";
                width: 20px;
                height: 20px;
                background: url(../images/ico_down_gray.svg) no-repeat; 

            }
        }
        &.ico4 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            &::before { 
                display: block;
                content: "";
                width: 20px;
                height: 20px;
                background: url(../images/ico_down_black.svg) no-repeat; 

            }
        }
        &.ico5 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            &::before { 
                display: block;
                content: "";
                width: 20px;
                height: 20px;
                background: url(../images/ico_upload_black.svg) no-repeat; 

            }
        }
        &.ico6 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2px;
            &::after { 
                display: block;
                content: "";
                width: 20px;
                height: 20px;
                background: url(../images/ico_arrow_right_red.svg) no-repeat center center / contain; 

            }
        }
        &.ico-location { 
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            &::before { 
                display: block;
                content: "";
                width: 20px;
                height: 20px;
                background: url(../images/ico_location_white.svg) no-repeat; 

            }
        }
    }

    .label { 
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        border-radius: 24px;
        padding: 4px 8px;
        &.primary { 
            background: var(--primary);
            color: var(--white);
        }
        &.secondary { 
            background: var(--secondary);
            color: var(--primary);
        }
        &.line { 
            border: 1px solid var(--primary);
            color: var(--primary);
        }
        &.green { 
            background: var(--green1b);
            color: var(--white);
        }
        &.green-secondary { 
            background: var(--greenf7);
            color: var(--green1b);
        }
        &.green-line { 
            border: 1px solid var(--green1b);
            color: var(--green3f);
        }
        &.disabled { 
            background: var(--gray6b);
            color: var(--white);
        }
        &.disabled-secondary { 
            background: var(--grayf3);
            color: var(--gray6b);
        }
        &.disabled-line { 
            border: 1px solid var(--gray6b);
            color: var(--gray6b);
            background: var(--grayf3);
        }
        &.ico-time { 
            display: inline-flex;
            gap: 4px;
            align-items: center;
            &::before { 
                @include content;
                width: 16px;
                height: 16px;
                background: url(../images/ico_time_gray.svg);
            }
        }

    }
    
    .chips { 
        &.type1 { 
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            border: 1px solid var(--primary);
            color: var(--primary);
            background: var(--redffe);
            padding: 8px 16px;
           
        }
        &.type2 {
            display: inline-flex;
            align-items: center;
            justify-content: center; 
            border-radius: 100px;
            border: 1px solid var(--grayd4);
            background: var(--white);
            color: var(--gray96);
            padding: 8px 16px;
            &.active { 
                border: 1px solid var(--primary);
                color: var(--primary);
                background: var(--redffe); 
            }
        }
    }
    .btn-moreview { 
        color: var(--reded);
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1px;
        padding-right: 20px;
        background: url(../images/ico_arrow_right_red.svg) no-repeat 100% 50% /16px;
    }
    .btn-language { 
        display: flex;
        width: 100%;
        padding: 16px 20px;
        color: var(--grayb0);
        font-family: "Noto Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 162.5% */
        &.active { 
            background: var(--redfff) url(../images/ico_check_red.svg) no-repeat right 20px top 50% / 20px;
            color: var(--reded);
        }
    }
    .btn-input { 
        display: block;
        padding-right: 20px;
        background: url(../images/ico_right_gray.svg) no-repeat top 50% right 0 / 16px;
        &.active { 
            background: url(../images/ico_right_green.svg) no-repeat top 50% right 0 / 16px;
            &.text { 
                &.gray96 { 
                    color: var(--green1b) !important;

                }
            }
        }
    }

    .upload-box {
        width: 100%;
        margin-top: 12px;
    }

    .upload-label {
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--grayb0);
        border-radius: 8px;
        padding: 12px;
        cursor: pointer;
        color: var(--black12);
    }

    .upload-icon {
        margin-right: 4px;
    }

    .upload-text {
        font-size: 14px;
        color: var(--black4e);
        font-weight: 500;
    }

    .upload-wrapper {
      display: inline-block;
    }

    /* 실제 input은 숨김 */
    .upload-wrapper input[type="file"] {
      display: none;
    }

    /* 커스텀 버튼 스타일 */
    .upload-btn {
        width: 120px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 2px;
      padding: 8px;
      border: 1px solid var(--grayb0); 
      border-radius: 6px;
      background-color: var(--white);
      font-size: 14px;
      color: var(--black4e);
      cursor: pointer;
      transition: all 0.2s ease;
    }

    .upload-btn:hover {
      background-color: #f5f5f5;
    }
    .download-wrapper { 
        .btn-download { 
            position: relative;
            display: flex;
            justify-content: flex-start;
            width: 240px;
            color: var(--black12);
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.2px;
            padding: 8px 12px;
            border-radius: 4px;
            border: 1px solid var(--grayd4);
            background: var(--white);
            span { 
                text-align: left;
                margin-left: 6px;
            }
            &::after { 
                content: "";
                display: block;
                width: 28px;
                height: 12px;
                // height: 24px;
                position: absolute;
                top: 50%;
                right: 12px;
                transform: translateY(-50%);
                background: url(../images/ico_download_gray.svg) no-repeat center center / 24px 24px;
                border-left: 1px solid var(--grayd4);
            }
            &.ico1 { 
                &::after { 
                    content: "";
                    display: block;
                    width: 28px;
                    height: 12px;
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    transform: translateY(-50%);
                    background: url(../images/ico_close.svg) no-repeat center center / 24px 24px;
                    border-left: 1px solid var(--grayd4);
                }
            }
        }
    }
    
}