@layer Card { 
    .card-type { 
        box-shadow: 0 0 4px 0 rgba(87, 87, 87, 0.03), 0 0 20px 0 rgba(198, 198, 198, 0.18);
        background: var(--white);
        border-radius: 8px;
        &.grayf3 { 
            background: var(--grayf3);
            box-shadow: none;
        }
    }
    .card-type1 { 
        img { 
            width: 100%;
            aspect-ratio: 1 / 0.6578;
            border-radius: 8px;
            object-fit: cover;
        }
        .info {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--black12);
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            white-space: normal;
        }
        .price { 
            color: var(--black12);
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
        }
    }
    .card-type2 { 
        border-radius: 8px;
        background: var(--white);
        box-shadow: 0 0 4px 0 rgba(87, 87, 87, 0.03), 0 0 20px 0 rgba(198, 198, 198, 0.18);
        padding: 20px;
    }
    .card-type3 { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        padding: 12px;
        border-radius: 8px;
        background: var(--white);
        box-shadow: 0 0 4px 0 rgba(87, 87, 87, 0.03), 0 0 20px 0 rgba(198, 198, 198, 0.18);
        aspect-ratio: 1 / 0.8355;
        .ico { 
            width: 56px;
        }
    }
    .card-type4 { 
        padding: 8px 14px;
        background: var(--white);
        box-shadow: 0 0 4px 0 rgba(87, 87, 87, 0.03), 0 0 20px 0 rgba(198, 198, 198, 0.18);
        border-radius: 14px 14px 0 0;
        .btn-folding { 
            img { 
                display: block;
                transform: rotate(-180deg);
                transition: all .3s;
                &.active { 
                    transform: rotate(0deg);
                }
                &.active2 { 
                    transform: rotate(0deg);
                }
            }
        }
        .profile { 
            display: block;
            border-radius: 100%;
            max-width: 57px;
        }
    }
    .card-type5 { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px;
        border-radius: 8px;
        background: var(--white);
        box-shadow: 0 0 4px 0 rgba(87, 87, 87, 0.03), 0 0 20px 0 rgba(198, 198, 198, 0.18);
        .img-wrap { 
            position: relative;
            img { 
                 aspect-ratio: 1 / 0.4511;
                 border-radius: 8px;
                 object-fit: cover;
            }
            .num { 
                position: absolute;
                top: 0;
                left: 0;
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--white);
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 0.2px;
                border-radius: 8px 0 0 0;
                background: var(--reded);
            }
        }
    }
    .card-type6 { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        padding: 14px;
        border-radius: 8px;
        background: var(--white);
        box-shadow: 0 0 4px 0 rgba(87, 87, 87, 0.03), 0 0 20px 0 rgba(198, 198, 198, 0.18);
        // aspect-ratio: 1 / 0.8355;
        .ico { 
            width: 56px;
        }
    }
    .card-type7 { 
        padding: 14px;
        border-radius: 12px;
        border: 1px solid var(--grayea);
        background: var(--white);
        .title { 
            color: var(--black12);
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            padding-bottom: 11px;
            border-bottom: 1px solid var(--grayea);
            &.ico1 { 
                display: flex;
                gap: 4px;
                align-items: center;
                &::before { 
                    @include content;
                    width: 24px;
                    height: 24px;
                    background: url(../images/ico_hotel_black.svg);
                    
                }
            }
            &.ico2 { 
                display: flex;
                gap: 4px;
                align-items: center;
                &::before { 
                    @include content;
                    width: 24px;
                    height: 24px;
                    background: url(../images/ico_car_black.svg);
                    
                } 
            }
            &.ico3 { 
                display: flex;
                gap: 4px;
                align-items: center;
                &::before { 
                    @include content;
                    width: 24px;
                    height: 24px;
                    background: url(../images/ico_food_black.svg);
                    
                }
            }
        }
    } 
    .card-type8 { 
        padding: 12px;
        background: #FFF3DD;
        border-radius: 8px;
        &.pink { 
            background: var(--redfff);
        }
        &.gray { 
            padding: 14px 16px;
            background: var(--grayf3);
        }
    }
    .card-type9 { 
        padding: 8px 16px;
        background: var(--white);
        box-shadow: 0 0 4px 0 rgba(87, 87, 87, 0.03), 0 0 20px 0 rgba(198, 198, 198, 0.18);
        border-radius: 8px;
    }
    .card-type10 { 
        padding: 20px 16px;
        background: var(--white);
        box-shadow: 0 0 4px 0 rgba(87, 87, 87, 0.03), 0 0 20px 0 rgba(198, 198, 198, 0.18);
        border-radius: 8px;
    }
    .card-type11 { 
        padding: 16px 20px;
        background: var(--white);
        box-shadow: 0 0 4px 0 rgba(87, 87, 87, 0.03), 0 0 20px 0 rgba(198, 198, 198, 0.18);
        border-radius: 8px;
    }
    .card-type12 { 
        padding: 16px 16px;
        border-radius: 8px;
        background: var(--grayfa);
    }

    .bx-gray { 
        border-radius: 4px;
        background: var(--grayf3); 
    }
    .answer { 
        background: var(--grayf9);
        padding: 20px;
        .p { 
            color: var(--black12);
            font-family: "Noto Sans";
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
        }
        .span { 
            display: block;
            padding-top: 10px;
            color: var(--gray96);
            font-family: "Noto Sans";
            font-size: 13px;
            font-weight: 400;
            line-height: 19px;
        }
    }
    .card-wrap { 
        display: none;
        &.active { 
            display: block;
        }
    }
}