@layer Font { 
    @font-face {
        font-family: 'LEMON MILK';
        src: url('../font/LemonMilk.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
      }
      
      @font-face {
        font-family: 'LEMON MILK';
        src: url('../font/LemonMilkbold.otf') format('opentype');
        font-weight: bold;
        font-style: normal;
      }
      
      @font-face {
        font-family: 'LEMON MILK';
        src: url('../font/LemonMilkbolditalic.otf') format('opentype');
        font-weight: bold;
        font-style: italic;
      }
      
      @font-face {
        font-family: 'LEMON MILK';
        src: url('../font/LemonMilkitalic.otf') format('opentype');
        font-weight: normal;
        font-style: italic;
      }
      
      @font-face {
        font-family: 'LEMON MILK';
        src: url('../font/LemonMilklight.otf') format('opentype');
        font-weight: 300; /* light weight */
        font-style: normal;
      }
      
      @font-face {
        font-family: 'LEMON MILK';
        src: url('../font/LemonMilklightitalic.otf') format('opentype');
        font-weight: 300;
        font-style: italic;
      }
      
}