@layer Footer { 
    .footer { 
        padding: 20px 20px 28px 20px;
        background: var(--grayea);
        .logo { 
            display: block;
            max-width: 129px;
            img { 
                display: block;
                width: 100%;
            }
        }
        &__terms { 
            display: flex;
            gap: 9px;
            align-items: center;
            margin-top: 10px;
            li { 
                a { 
                    color: var(--gray6b);
                    font-size: 10px;
                    font-weight: 600;
                    line-height: 16px;
                }
                & + li {
                    position: relative;
                    &::before { 
                        position: absolute;
                        top: calc(50% + 1px) ;
                        left: -4.5px;
                        transform: translateY(-50%);
                        display: block;
                        content: "";
                        width: 1px;
                        height: 8px;
                        background: var(--gray6b);
                    }
                }
            }
        }
        .footer-fold-btn { 
            display: flex;
            color: var(--gray6b);
            font-size: 10px;
            font-weight: 600;
            line-height: 16px;
            padding-right: 20px;
            margin-top: 10px;
            img { 
                display: block;
                width: 14px;   
                margin-left: 4px; 
                transform: rotate(-180deg);
                transition: all .3s;
                &.active { 
                    transform: rotate(0);
                }
            }
        }
        .folding-bx { 

        }
        .footer__info {
            padding-top: 10px;
            border-bottom: 1px solid var(--grayb0);
            li {
                color: var(--gray96);
                font-size: 10px;
                line-height: 16px;
            }
        }
        .copyright { 
            color: var(--gray6b);
            font-size: 10px;
            line-height: 16px;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--grayb0);
            margin-top: 10px;
        }
    }
}