@layer Map {
    .map-type1 { 
        position: relative;
        .card-type4 { 
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
    

}