@layer Permit {
    .permit { 
        display: flex;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        flex-shrink: 0;
        border-radius: 16px 16px 0 0;
        background: #FFF;
        aspect-ratio: 1 / 0.95;
        padding: 24px;
        background: skyblue;
        .card { 
            display: flex;
            padding: 8px;
            align-items: center;
            gap: 12px;
            align-self: stretch;
            border-radius: 12px;
            padding: 8px;
            background: var(--grayfa);
            .ico { 
                width: 32px;
            }
        }
    }
    

}