@layer progress {
    .progress-type1 { 
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 8px;
        i { 
            display: block;
            width: 100%;
            height: 5px;
            border-radius: 5px;
            background: var(--redffe);
            &.active { 
                background: var(--reded);
            }
        }
    }
}