@layer Slider { 
    .slider-wrap { 
        position: relative;
            .slider { 
                img { 
                    width: 100%;
                }
            }
            .slick-counter {
                display: flex;
                align-items: center;
                position: absolute;
                top: 10px;
                right: 30px;
                height: 20px;
                border-radius: 20px;
                background: rgba(46, 46, 46, 0.60);
                color: #fff;
                font-size: 12px;
                padding: 0 10px;
            }
            &.type2 { 
                .slick-counter { 
                    top: auto;
                    bottom: 12px;
                    right: 30px;    
                }
            }
    }


}